alembic==1.14.0
blinker==1.9.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
Flask==2.2.5
flask-googlemaps==0.4.1
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
geographiclib==2.0
geopy==2.4.1
ghp-import==2.1.0
htmlmin==0.1.12
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
jsmin==3.0.1
Mako==1.3.8
Markdown==3.7
MarkupSafe==3.0.2
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mkdocs-material==5.5.14
mkdocs-material-extensions==1.3.1
mkdocs-minify-plugin==0.3.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
Pygments==2.18.0
pymdown-extensions==10.13
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.2
pyyaml_env_tag==0.1
requests==2.32.3
six==1.17.0
SQLAlchemy==2.0.36
typing_extensions==4.12.2
urllib3==2.3.0
watchdog==6.0.0
Werkzeug==3.1.3
WTForms==3.2.1
